@model Person  
@section import {
    <script>
        //alert("asdsadsa");
    </script>
    <style>
        body {
            background-color: red !important;
        }
    </style>
}
@section sidebar {

    Home Page Sidebar
}
İlk Sayfa
<div>@Model.Id</div>
<div>@Model.Firstname</div>
<div>@Model.Lastname</div>
<h1></h1>
<a></a>
